.headings {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.5fr;
    background-color: var(--header-color) !important;
    grid-gap: 0.5rem;
}

.headingsContainer {
    margin-bottom: 2rem;
}

.data{
    margin-bottom: 0.5rem;
}

.sNoHeading, .todoHeading, .stateHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--normal-font-size);
    font-weight: 700;
}

.sNoHeading {
    border-right: 2px solid var(--text-color);
    padding-right: 1rem;
}

.stateHeading {
    border-left: 2px solid var(--text-color);
    padding-left: 1rem;
}

.sNo {
    font-size: var(--small-font-size);
    text-align: center;
    font-weight: 500;
    padding-right: 1rem;
}

.todo {
    font-size: var(--small-font-size);
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

.state {
    font-size: var(--small-font-size);
    text-align: center;
    font-weight: 500;
    padding-left: 1rem;
}